@using Microsoft.AspNetCore.Identity
@using DeepHumans.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="nav-links">
@if (SignInManager.IsSignedIn(User))
{
    <a id="manage" class="cta-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><i class="fas fa-user"></i> @UserManager.GetUserName(User)!</a>
    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <button id="logout" type="submit" class="cta-link"><i class="fas fa-sign-out-alt"></i> Sign Out</button>
    </form>
}
else
{
    <a class="cta-link" id="register" asp-area="Identity" asp-page="/Account/Register" title="Sign Up">
        <i class="fas fa-user-plus"></i> Sign Up
    </a>
    <a class="cta-link" id="login" asp-area="Identity" asp-page="/Account/Login" title="Login">
        <i class="fas fa-sign-in-alt"></i> Login
    </a>
}
</div>
