@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div class="identity-page-container manage-page-container">
    <h1>Manage your account</h1>
    <div class="manage-content-area">
<div>
    <h2>Change your account settings</h2>
    <hr />
    <div class="manage-grid">
            <div class="manage-nav-column">
            <partial name="_ManageNav" />
        </div>
        <div class="manage-body-column">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
